*

!.gitignore

!README.md
!AUTHORS
!LICENSE
!MAINTAINERS.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

!.rustfmt.toml
!.rusty-hook.toml

!Cargo.toml

!src
!src/lib.rs
!src/modules
!src/modules/**