*

!.github
!.github/**
!.gitignore
!.nojekyll

!institutional-website-v1
!institutional-website-v1/.gitignore

!README.md
!LICENSE

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build