*

!.gitignore
!.npmignore

!rust-core/
!rust-core/.gitignore
!napi-module/
!napi-module/.gitignore
!napi-module/.npmignore
!wasm-module/
!wasm-module/.gitignore
!wasm-module/.npmignore

!.github
!.github/**

!AUTHORS
!LICENSE
!MAINTAINERS.md
!README.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

!package.json
!pnpm-workspace.yaml

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules