*

!.github
!.github/**
!.gitignore
!.nojekyll

!src
!src/**
!static
!static/**

!package.json
!postcss.config.js
!vite.config.js

!README.md
!LICENSE

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build